body{
    background: url(img/anime.png);
    background-size: cover;
    font-family: 'Comforter Brush', cursive;
    margin: 0;
    padding: 0;
    
}
.kutu{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.kutu h1{
    color: #3498db;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Comforter Brush', cursive;

}

.kutu input[type = "text"],.kutu input[type = "password"]{
    color: #9b59b6;
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #9b59b6;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
}
.kutu input[type="password"]
{
    
}
.kutu input[type = "text"]:focus,.kutu input[type = "password"]:focus{
    width: 280px;
    border-color: #3498db;
}
.kutu input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: #3498db;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.kutu input[type = "submit"]:hover{
background: #2ecc71;
}
